body {
	background: rgb(240,83,103);
	background: linear-gradient(90deg, rgba(240,83,103,1) 0%, rgba(237,23,126,1) 100%);
	height: 200vh;
}

.splashFlex {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin: 48px;
}

.splashButtons {
	margin: 100px 0 0 0;
}

#deck {
	height: 500px;	/* default height to prevent jarring page collapse when cards load late */
}

#deck img {
	box-shadow: 0 0 24px 4px rgba(0, 0, 0, 0.25);
	max-width: 333px;
	border-radius: 30px;
}

@keyframes card0 {
	0% { opacity: 1 }
	25% { transform: translate(333px); opacity: 1 }
	50% { opacity: 0 }
	75% { transform: translate(333px) }
	100% { transform: rotate(-5deg) translate(50px); opacity: 1 }
}

@keyframes card1 {
	0% { opacity: 0 }
	100% { opacity: 1 }
}

@keyframes card2 {
	0% { opacity: 1 }
	25% { transform: translate(-333px) }
	50% { opacity: 0 }
	75% { transform: translate(-333px) }
	100% { transform: rotate(5deg) translate(-50px); opacity: 1 }
}

img.card0 {
    animation:
		card0 0.5s ease normal forwards;
}

img.card1 {
	animation:
		card1 0.5s ease normal forwards;
}

img.card2 {
	animation:
		card2 0.5s ease normal forwards;
}

button.splashButtonLeft {
	background-color: #f7d41e;
    border: none;
    font-weight: bold;
	height: 48px;
	border-radius: 8px;
	color: white;
	margin: 4px 4px 0 4px;
	padding: 0 10px 0 10px;
	transition: 0.1s;
}

button.splashButtonRight {
	background-color: #f7921d;
    border: none;
    font-weight: bold;
	height: 48px;
	border-radius: 8px;
	color: white;
	margin: 4px 4px 0 4px;
	padding: 0 10px 0 10px;
	transition: 0.1s;
}

button.splashButtonLeft:hover {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
	transform: scale(1.05);
}

button.splashButtonLeft:active {
	transform: scale(0.95);
}

button.splashButtonRight:hover {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
	transform: scale(1.05);
}

button.splashButtonRight:active {
    transform: scale(0.95);
}

#tooltip {
	text-align: center;
}